@model List<Results>
@{
    ViewBag.Title = "Секретная страница";
    //Layout = null;
}
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<ul class="nav nav-tabs" role="tablist" id='myTabs'>
    <li role="presentation" class="active"><a href="#Results" aria-controls="home" role="tab" data-toggle="tab">Результаты</a></li>
</ul>
<div class="tab-content" id="panel">
    <div role="tabpanel" class="tab-pane active" id="Results">
        <div class="row">
            <table class="table table-striped table-hover " id="dataTable">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Имя ПК</th>
                    <th>Имя пользователя</th>
                    <th>Дата</th>
                    <th>Результат</th>
                    <th>Ответы</th>
                    <th>Посмотреть результаты</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var td in Model)
                {

                    <tr class="info">
                        <td>@td.ID</td>
                        <td>@td.PCName</td>
                        <td>@td.LoginName</td>
                        <td>@td.TimeData</td>
                        <td>@td.Result</td>
                        <td>@td.MassiveAnswers</td>
                        @if (td.AnswerTable != null)
                        {
                            <td><button type="button" disabled="" class="btn btn-default btn-lg" aria-label="Left Align">
                                    <span class="glyphicon glyphicon glyphicon-log-in" aria-hidden="true"></span>
                                </button>
                            </td>
                        }
                        else
                        {
                            <td><button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
                                    <span class="glyphicon glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                </button>
                            </td>
                        }

                    </tr>

                }
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>
